*~
output/*
/data/v1
/build
/build_mac
/doxygen
*.tsv
img_features/*
/sim_imgs
*.so
*kdev4*
*.pyc
*.out
*.log
*.swp
*.zip
*.nfs*
*.ipynb
.idea
.vscode
.DS_Store
tensorboard_logs
*.t7
*/checkpoints
output*/*
*.tar
./tasks/R2R-pano/data/*.json*
./tasks/R4R-pano/data/*.json*
tasks/R2R-pano/data/*
tasks/R4R-pano/data/*
tasks/R4R-pano/R4R-data/*
./tasks/R2R-pano/results/*.json*
./tasks/R2R-pano/results/*/*.json*
./tasks/R4R/data/*.json*
test/*
pybind11/*
tasks/R2R-pano/pretrain_models/*
tasks/R2R-pano/smna_models/data/*
test_1stround/*
test_2nd_round_apr/*
*.p
*.zip
